
<h2>EStockDetails</h2>
    <div class="form-group">
        <label for="companyCode">Company Code</label>
        <input type="text" formControlName="companyCode" class="form-control"  />         
            <button  class="btn btn-primary">
            FetchDetails
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
    
    <label for="fname">Stock Exchange:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="cname">Company Name:</label>
    <input type="text" id="cname" name="cname"><br><br>
    <label for="ceo">Company CEO:</label>
    <input type="text" id="ceo" name="ceo"><br><br>
    <label for="tover">TurnOver:</label>
    <input type="text" id="tover" name="tover"><br><br>
    <label for="bod">BoardOfDirectors:</label>
    <input type="text" id="bod" name="bod"><br><br>
    <label for="cp">Company Profile:</label>
    <input type="text" id="cp" name="cp"><br><br>
    
    <table class="table table-strip">
        <thead>
            <th>id</th>
            <th>Company Code</th>
            <th>Current Stock Price</th>
            <th>Stock Price date</th>
            <th>Stock Price Time</th>            
        </thead>
<tbody>
   
</tbody>



    </table>

